<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flask Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.brand_analysis') }}">Brand Analysis</a></li>
        <li><a href="{{ url_for('main.price_analysis') }}">Price Analysis</a></li>
        <li><a href="{{ url_for('main.screen_size_analysis') }}">Screen Size Analysis</a></li>
        <li><a href="{{ url_for('main.display_type_analysis') }}">Display Type Analysis</a></li>
      </ul>
    </nav>
    <div class="container">
      <!-- Add an image to the dashboard -->
      <div style="text-align: center; margin: 20px 0;">
        <img src="{{ url_for('static', filename='/workspaces/tv_market_analysis_2024/dashboard/app/static/images/Image_Robts_tv.webp') }}" alt="Dashboard Image" style="max-width: 100%; height: auto;">
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
