<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flask Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dx1mXg6SOV0qfVw/3I3t5m0ddWm4ZZxqHma5OYD4VqT4p3FJ8FZ8J4q5R5g6EzfjE6vKZ6TihpvSzyZQ5ogEJw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.brand_analysis') }}">Brand Analysis</a></li>
        <li><a href="{{ url_for('main.price_analysis') }}">Price Analysis</a></li>
        <li><a href="{{ url_for('main.screen_size_analysis') }}">Screen Size Analysis</a></li>
        <li><a href="{{ url_for('main.display_type_analysis') }}">Display Type Analysis</a></li>
      </ul>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <footer id="footer">
      <p>Contact : <a href="mailto:info@dashboard.com"><i class="fas fa-envelope"></i> narendra.insights@gmail.com</a></p>
      
    </footer>
    <script>
      let lastScrollTop = 0;
      const footer = document.getElementById('footer');

      window.addEventListener('scroll', function() {
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        if (scrollTop > lastScrollTop) {
          // Downscroll
          footer.classList.add('footer-visible');
        } else {
          // Upscroll
          footer.classList.remove('footer-visible');
        }
        lastScrollTop = scrollTop;
      });
    </script>
  </body>
</html>
